<div class="alternative-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 i18n="about title|The title of about section app@appAboutTitle" i18n="AboutHeader|AboutHeaderText app@appAboutHeader">{{'AboutTitle' | translate }}</h2>
                <hr class="line-center">
                <p i18n="about introduction|Introduction of about app@appAboutIntroduction">{{'AboutIntro' | translate }}</p>
            </div>
        </div>
    </div>
</div>