<div [@routerTransition] class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="../../assets/img/teach.png" width="150px" />
            <form [formGroup]="verificationForm" role="form">
                <div class="form-content">
                    <div class="form-group">
                        <h3>Felicidades su cuenta ha sido activada!</h3>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>