<div class="alternative-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <h2 i18n="about title|The title of about section app@appAboutTitle" i18n="AboutHeader|AboutHeaderText app@appAboutHeader">{{'TeamTitle' | translate }}</h2>
                <hr class="line-center">
                <p i18n="about introduction|Introduction of about app@appAboutIntroduction">{{'TeamIntro' | translate }}</p>
            </div>
            <div class="col-lg-5 col-md-6 text-center">
                <div class="service-box">
                    <h3 class="text-center font-weight-bold" i18n="FirstDiv|DivCustomSoftwareDevelopment app@appFirstDivTitle">{{'TeamFirstDivHeader' | translate }}</h3>
                    <p class="text-muted" i18n="FirstDivText|DivCustomSoftwareDevelopmentText app@appFirstDivTitleText">{{'TeamFirstDivDesc' | translate }}</p>
                </div>
                <div class="service-box">
                    <h3 class="text-center font-weight-bold" i18n="SecondDiv|DivMobile app@appSecondDivTitle">{{'TeamSecondDivHeader' | translate }}</h3>
                    <p class="text-muted" i18n="SecondDivText|DivMobileText app@appSecondDivTitleText">{{'TeamSecondDivDesc' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>